#root {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;  
  text-align: center;
  display: grid;
  grid-template-rows: 6rem 1fr;
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.search input {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;  
  font-size: 1.5rem;
  background-color: #fff;
  color: var(--color-primary);
  padding: 0.5rem 1rem;
}

section {
  width: 100%;
}

